{% extends 'base.html.twig' %}

{% block main %}
    <main class="main-content">
        <div class="breadcrumbs">
            <div class="container">
                <a href="index.html">Home</a>
                <span>Resource</span>
            </div>
        </div>

        <div class="page">
            <div class="container">


                <div class="row">
                    <div class="col-md-6">
                        <div class="boxed-feature">
                            <i class="icon-document-person"></i>
                            <div class="feature-desc">
                                <h2 class="feature-title">Client form download</h2>
                                <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
                            </div>
                        </div>

                        <div class="boxed-feature">
                            <i class="icon-bell-2"></i>
                            <div class="feature-desc">
                                <h2 class="feature-title">Alert download</h2>
                                <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="boxed-feature">
                            <i class="icon-man-chart"></i>
                            <div class="feature-desc">
                                <h2 class="feature-title">Statistics download</h2>
                                <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
                            </div>
                        </div>

                        <div class="boxed-feature">
                            <i class="icon-folder"></i>
                            <div class="feature-desc">
                                <h2 class="feature-title">Briefs download</h2>
                                <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .page -->
    </main>



{% endblock %}