{% extends 'Backbase.html.twig' %}

{% block main %}

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Ajouter un contrat</div>
            <div class="card-body">
                <form method="post" >
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputNom" name="nom" class="form-control" placeholder="Nom" required="required" autofocus="autofocus" >
              <label for="inputNom">Nom</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="description" name="description" class="form-control" placeholder="Description" required="required" autofocus="autofocus" >
              <label for="description">Description</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="cin_assre" name="cin_assure" class="form-control" placeholder="cin" required="required" autofocus="autofocus" >
              <label for="cin_assre">Cin Assure</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="nomEntr" name="nomEntr" class="form-control" placeholder="Description" autofocus="autofocus" >
              <label for="nomEntr" >nom Entreprise</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="id_type" name="id_type" class="form-control" placeholder="ID Type" required="required" autofocus="autofocus" >
              <label for="id_type">ID Type:</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-label-group">
                            <select id="type" name="type" class="form-control"  >
               <option value="vehicule" >Vehicule</option>
                            <option value="voyage">Voyage</option>
                            <option value="habitation">Habitation</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="date" id="date_debut" name="date_debut" class="form-control" >
            </div>
          </div>
		   <div class="form-group">
                            <div class="form-label-group">
                                <input type="date" id="date_echeance" name="date_echeance" class="form-control" >
            </div>
          </div>




           <div class="form-group">
                                <div class="form-label-group">
                                    <select id="etat" name="etat" class="form-control">
                                   <option value="1">Paye</option>

                                    <option value="0">Nom paye</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="prime" name="prime" class="form-control" placeholder="Prime" required="required" autofocus="autofocus" >
              <label for="prime">Prime:</label>
                                </div>
                            </div>


                    <div  class="btn btn-primary btn-block"><input type="submit" value="Ajouter le Contrat"></div>

                            <a class="btn btn-primary btn-block" href="index.html">Login</a>
                </form>

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

{% endblock %}
