{% extends 'base.html.twig' %}

{% block main %}
    <div align="center">
        <div class="col-md-12">
            <br><h2 class="section-title text-center">Votre contrat a été crée , il est en état d'attente <br> Merci de compléter le paiement .</h2>

        </div>
    </div>

{% endblock %}
