{% extends 'base.html.twig' %}


{% block main %}


    <div align="center" >
        <div class="col-md-12">

            <div class="col-md-4"><a href="{{ url('ajouter_asspart') }}"> <input type="submit" value="Profile Assuré Particulier" > </a><br><br><br></div>
            <div class="col-md-4"><a href="{{ url('ajouter_assentr') }}"> <input type="submit" value="Profile Assuré Entreprise" ><br><br><br></div>


        </div>
    </div>



{% endblock %}
